[submodule "engines/qus"]
	path = engines/qus
	url = https://github.com/TUL-Dev/QuantUS-Plugins.git
[submodule "engines/ceus"]
	path = engines/ceus
	url = https://github.com/TUL-Dev/QuantUS-Plugins-CEUS.git
